@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Hairline&family=Bungee+Shade&family=Bungee+Spice&family=Bungee+Tint&family=Dokdo&family=Fasthand&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Barcode+128+Text&family=Monoton&family=Montserrat+Subrayada:wght@400;700&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&family=Zilla+Slab+Highlight:wght@400;700&display=swap');


* {
    padding:0;
    margin:0;
    letter-spacing: 1px;
    box-sizing: border-box;
}

main {
    background: rgba(58, 58, 58, 0.644);
    height: 60%;
    width: 30%;
    padding: 3rem;
    margin: 0 auto;
}


body {
    font-weight: normal;
    font-family: sans-serif;
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    backdrop-filter: blur(5px);
}

.div_about {
    display:grid;
    width: 30rem;
    height: 72rem;
    padding: 2rem;
    background: rgb(22,20,20);
    background: linear-gradient(90deg, rgba(20, 19, 19, 0.781) 0%, rgba(18, 18, 19, 0.664) 100%);
    margin: 0 auto;
    margin-top: 2rem;
}

.about_content {
    display: flex;
    margin-bottom: 10rem;
    flex-direction: column;
    justify-content: center;
    color: rgb(77, 77, 77);
}

.about_content > h1 {
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: underline;
}

.about_content > h2 {
    line-height: 30px;
    font-family: monospace;
    font-weight: 700;
}


#img {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#img > img {
    width: 10rem;
    height: 10rem;
}

#img > p{
    font-family: monospace;
    color: #616060;
}

.social-media {
    gap: 1.1rem;
    margin-top: 110px;
    justify-content: center;
    display: flex;
}

#ig, .ig{
    font-size: 2rem;
    color: #C13584;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    text-decoration: none;
}

#github, .git {
    font-size: 1.8rem;
    color: #181717;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
}

#discord {
    font-size: 1.5rem;
    color: #7289DA;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_background {
    position: absolute;
    bottom:0;
    left: 0;
}

.img_background > a {
    text-decoration: none;
    color: #61606056;
    opacity: 0.6;
    font-style: italic;
    font-weight: 900;
    font-family: monospace;
    font-variant: small-caps;
}

.img_background > a:hover {
    opacity: 0.7;
    transition: all 0.6s;
}

#about {
    font-family: "Bungee Hairline", "Bungee Tint";
    font-weight: 900;
    color: #797979;
}

.fa-js {
    font-size: 1.8rem;
    color: #F7DF1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 720px) and (max-width:1350px) {
    .div_about {
        display:grid;
        width:20rem;
        height: 80rem;
        padding: 2rem;
        background: rgb(22,20,20);
        background: linear-gradient(90deg, rgba(20, 19, 19, 0.781) 0%, rgba(18, 18, 19, 0.664) 100%);
        margin: 0 auto;
        margin-top: 2rem;
        position: relative;
        z-index: 2;
    }
    
    .about_content {
        display: flex;
        margin-bottom: 10rem;
        flex-direction: column;
        justify-content: center;
        color: rgb(77, 77, 77);
        font-size: small;
    }
    
    .about_content > h1 {
        margin-bottom: 10px;
        font-style: italic;
        text-decoration: underline;
    }
    
    .about_content > h2 {
        line-height: 30px;
        font-family: monospace;
        font-weight: 700;
    }
    
    
    #img {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    #img > img {
        width: 10rem;
        height: 10rem;
    }
    
    #img > p{
        font-family: monospace;
        color: #616060;
    }
    
    .social-media {
        gap: 1.1rem;
        margin-top: 10px;
        justify-content: center;
        display: flex;
    }
    
    #ig, .ig{
        font-size: 2rem;
        color: #C13584;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        text-decoration: none;
    }
    
    #github, .git {
        font-size: 1.8rem;
        color: #181717;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        text-decoration: none;
    }
    
    #discord {
        font-size: 1.5rem;
        color: #7289DA;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    footer {
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .img_background {
        position: absolute;
        bottom:0;
        left: 0;
        width: 4rem;
        z-index: 2;
    }
    
    .img_background > a {
        text-decoration: none;
        color: #61606056;
        opacity: 0.6;
        font-style: italic;
        font-weight: 900;
        font-family: monospace;
        font-variant: small-caps;
        
    }
    
    .img_background > a:hover {
        opacity: 0.7;
        transition: all 0.6s;
    }
    
    #about {
        font-family: "Bungee Hairline", "Bungee Tint";
        font-weight: 900;
        color: #797979;
    }
    
    .fa-js {
        font-size: 1.8rem;
        color: #F7DF1E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        background: rgba(58, 58, 58, 0.884);
        height: 80%;
        width: 95%;
        padding: 3rem;
        margin: 0 auto;
        z-index: 3;
        position: relative;
    }
}